# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# ignore unwanted solutions and paths
/out/*
/src/de/*
s1expr/
s4func/

*.ini

#ignore backup files
*.bak

# ignore IDEA and Mac specific files
.idea/*
*.iml
.DS_Store
/bin/
